* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboard-layout {
  display: flex;
  min-height: 100vh;
}
.dashboard-layout .main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  padding: 2rem;
}

app-sidebar {
  /* border-right: 1px solid var(--color-gray-light);
  min-height: 100vh;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-soft); */
  position: sticky;
  top: 0;
}
