.role-card:has(input:checked) {
  border-color: currentColor;
  background-color: var(--role-bg-color);
}
.role-card:has(input:checked) p {
  color: currentColor;
}
.role-card:has(input#supervisor:checked) {
  color: #f87171;
  --role-bg-color: rgba(248, 113, 113, 0.1);
}
.role-card:has(input#staff:checked) {
  color: #60a5fa;
  --role-bg-color: rgba(96, 165, 250, 0.1);
}
.role-card:has(input#student:checked) {
  color: #fb923c;
  --role-bg-color: rgba(251, 146, 60, 0.1);
}
.role-card:has(input:checked) .material-symbols-outlined {
  color: currentColor;
}
#supervisor:checked ~ .sign-in-button {
  background-color: #f87171;
  border-color: #f87171;
}
#supervisor:checked ~ .sign-in-button:hover {
  background-color: #ef4444;
}
#staff:checked ~ .sign-in-button {
  background-color: #60a5fa;
  border-color: #60a5fa;
}
#staff:checked ~ .sign-in-button:hover {
  background-color: #3b82f6;
}
#student:checked ~ .sign-in-button {
  background-color: #fb923c;
  border-color: #fb923c;
}
#student:checked ~ .sign-in-button:hover {
  background-color: #f97316;
}
